doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Document
    body
        header
        include menu.pug
        main
        .container
            h1 Jean DUPONT
            p Bienvenue sur mon portfolio
            block content
            p Contactez-moi à l'adresse email suivante :
            output(id='generate-email')
        footer
        include footer.pug
        block scripts
