block variables

doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{PAGE_TITLE} - Projet Node
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js")
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/css/bootstrap.min.css", rel="stylesheet")

    block scripts
  body

    block messages
      div(id="messages")
        each message in messages
          p(class=`alert ${message.type}`)= message.text


    block content

    footer
      p - Mentions légales / Copyright 2023 -