extends layout 
block content
  section.login
      h1 Login
      form(action="/login", method="POST")
        div.email
          label(for="email") Email
          input(type="email", id="email", name="email", required)
        div.password
          label(for="password") Password
          input(type="password", id="password", name="password", required)
        div.button
          input(type="submit", value="Login")

      p
        | Don't have an account? 
        a(href="/signup") Sign up
