extends layout 
block content
  section.signup
    h1 Signup
    form(action="/signup", method="POST")
        div.name
            label(for="name") Name
            input(type="text", id="name", name="name", required)
        div.email
            label(for="email") Email
            input(type="email", id="email", name="email", required)
        div.password
            label(for="password") Password
            input(type="password", id="password", name="password", required)
        div.button
            input(type="submit", value="Signup")

    p
        | Already have an account? 
        a(href="/login") Login
